<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Time Balance</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
</head>
<body>
<div class="bg-image"></div>
<div class="main-section">
    <button onclick="location.href='/';">Return to Index</button>
    <div class="body-content">
        <div class="form-container">
            <h1>All Time Balance</h1>

            <p id="balance"></p>

            <script>
                window.onload = function () {
                    fetch('/api/transactions/balance/all-time')
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById('balance').textContent = 'Balance: €' + data.toFixed(2);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                };
            </script>

        </div>
    </div>
</div>

</body>
</html>