<!DOCTYPE html>
<html lang="en">
<head>
    <title>Income List by Month</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
</head>
<body>
<div class="bg-image"></div>
<div class="main-section">
    <button onclick="location.href='/';">Return to Index</button>
    <div class="body-content">
        <div class="form-container">
            <h1>Income List by Month</h1>

            <script>
                window.onload = function () {
                    const urlParts = window.location.pathname.split('/');
                    const month = urlParts[2];
                    const year = urlParts[3];

                    fetch(`/api/transactions/income/${month}/${year}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then(data => {
                            const table = document.getElementById('transactionTable');
                            let sum = 0;
                            data.forEach(transaction => {
                                const row = table.insertRow();
                                const amount = parseFloat(transaction.amount.toFixed(2));
                                row.insertCell().textContent = transaction.id;
                                row.insertCell().textContent = transaction.description;
                                row.insertCell().textContent = `€${amount}`;
                                sum += amount;
                                row.insertCell().textContent = new Date(transaction.dateTime).toLocaleString();
                            });


                            const sumRow = table.insertRow();
                            sumRow.insertCell().textContent = 'Total';
                            sumRow.insertCell().textContent = '';
                            sumRow.insertCell().textContent = '€' + sum.toFixed(2);
                            sumRow.insertCell().textContent = '';
                        })
                        .catch(error => {
                            console.error('Fetch error:', error);
                        });
                };
            </script>


            <table id="transactionTable">
                <tr>
                    <th>Transaction ID</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>